@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-p-form {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-lighter {
  font-weight: 300;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: stretch;
}

.rectangle {
  width: 40vw;
  background-color: black;
  height: 35px;;
  opacity: 70%;
  position: absolute;
  top: 190px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  color: white;
}

.photo-container > h3 {
  width: 40vw;
  color: white;
  text-align: center;
  padding: 5px 0px;
  position: absolute;
  top: 192px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.photo-container > p {
  font-weight: 300;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 30px;
  width: 40vw;
  text-align: center;
  text-shadow: 6px -1px 12px rgba(0, 0, 0, 0.6);
}

.photo {
  width: 40vw;
}

.form-container {
  background-color: rgb(255, 255, 255);
  width: 60vw;
  padding: 15px;
  margin-left: 20px;
}

.row-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.row-form > div {
  width: 20vw;
}

.part-one > div > label {
  display: block;
}

.part-one > div > input {
  width: 20vw;
}

.part-two > div > div {
  margin-top: 2px;
}

.part-two p {
  margin-top: 3px;
  margin-bottom: 3px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: rgb(2, 153, 2);
}

input {
  padding: 8px 5px;
  margin-top: 3px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #a6888e2b;
}

input:invalid {
  outline-color: red;
}

input:valid {
  outline-color: green;
}
